<h2>FAQ</h2>

<h2>How can I tell if you are busy right now? Or even there today?</h2>
<p>Fortunately for you we have a <a href="https://video.nest.com/live/GMwvsHZK47">Nest Cam</a> which will give insight into our busyness. You can also grab a <a href="https://nexusapi.dropcam.com/get_image?uuid=5d98bcb93c4a406e8451f7680dadbf50&width=1280">still image</a> or the most recent daily <a href="http://papa-november.com/gif/curr_sm.gif">GIF</a> if you're interested.</p>

<h2>Do you ever do events?<h2>
<p>Very rarely, AKA hardly ever. Our availability is very limited and logistics become complicated very quickly. We wrote a little <a href="http://papa-november.com/?n=53">blurb</a> about events, and you're welcome to ask us about specifics either in person or via email.</p>

<h2>Do you accept credit cards?</h2>
<p>Nope, we looked into it and honestly it doesn't make sense for our business. This is <a href="http://doespapanovemberacceptcreditcardsyet.com">unlikely</a> to change.</p>

<h2>Do you accept Dogecoin?</h2>
<p>Yes! Just ask us for a QR code when you come to the shop.</p>

<h2>Do you accept Bitcoin?</h2>
<p>No, too serious.</p>

<h2>What's that horrible noise?</h2>
<p>Oh, probably something on <a href="http://kfjc.org/">KFJC</a>. That's what we listen to most of the time at the shop.</p>

<h2>Can I send you a thing via USPS/UPS/FEDEX/etc?</h2>
<p>Totally! Please DO NOT send mail to 215 15th Street-- that's what Google thinks our address is for whatever reason, and it's not. We're happy to provide an actual mailing address, just use our form or your mouth parts to ask us what it is.</p>

<h2>Where can I read rambling self indulgent autobiographical posts about the shop?</h2>
<p>My friend, we have got you <a href="http://papa-november.com/?a=y">covered</a>.</p>  

<h2>Where do you get your stuff from?</h2>
<p>We use <a href="https://www.stumptowncoffee.com/">Stumptown</a> coffee and <a href="https://www.cloverpetaluma.com/">Clover</a> organic dairy items. Our baked items come from <a href="http://www.neighborsf.com/">Neighbor Bakehouse</a>. We also like <a href="http://www.califiafarms.com/products/almondmilk/">Califia</a> (unsweetened) almond milk. Our to-go cups (and lids, and straws) are all compostable from <a href="http://www.worldcentric.org/">World Centric</a>. A variety of other odds and ends we get from <a href="http://www.rainbow.coop/">Rainbow Grocery</a>.</p>

<h2>Oh wow, your website is so 90's! Do you need some help with it?</h2>
<p>tl;dr NO. The website's purpose is to get you the information you're seeking without having to click a bunch of times and suffer through music and/or interminable animations. Secondary purposes are to load quickly, look ok or pretty good on mobile devices, and be entertaining and/or funny. Having said that if you do in fact have suggestions for CSS improvements, HTML clarity, accessibility, or similar please let us know.</p>

<h2>I swear this FAQ looked different the last time I read it?</h2>
Maybe you're hallucinating, or maybe what you saw is lurking in this document's <a href="http://bitbucket.org/mascon/pxnx-public/">version history</a>.</p>

